
  .leaflet-container {
    height: 450px !important;
    width:79% !important;
    top: -500px !important;
  
    left: 264px;
  }
  
  .leaflet-div-icon {
    background: transparent;
    border: none;
  }


  






  